* {margin: 0; padding: 0;}
ul li{list-style: none;}
li{list-style: none;}
a{text-decoration: none; color: #000;}



/*header 시작*/
.header {
    padding-top: 30px;
    width: 100%;
    background: #fff;
    position:fixed;
    top:0;
    z-index: 100;
    /* border-bottom: 1px solid #ccc; */
}
body {
    padding-top: 163px;
}

.header_index { /*해더 밑에 boder을 주기 위해 큰 header를 만들어 묶어줌*/
    border-bottom: 1px solid #ccc;
}

.header_all {
    max-width: 1256px;
    height: 60px;
    padding: 10px 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* header_all_logo */
.header_all_logo {
    /* float: left; */
    margin-right: 50px;
    width: 160px;
    height: 50px;
    z-index: 1;
}

.header_all_logo a {
    padding-right: 15px;
}

.header_all_logo img {
    width: 160px;
    height: 50px;
    clear: both;
}


/* header_all_search */
.search {
    z-index: 1;
}
.header_all_search {
    width: 600px;
    height: 40px;
    margin: 10px 10px 10px 150px;
    border: 1px solid #fc5ea0;
    background-color: #fff;
    float: left;
    
}

.header_search_text {
    font-size: 16px;
    width: 527px;
    padding: 10px;
    border: 0px;
    outline: none;
    float: left;
   
}

.header_search_button {
    width: 50px;
    height: 100%;
    border: 0px;
    background-color: #fc5ea0;
    outline: none;
    float: right;
    color: #fff;
}



/*-------------햄버거메뉴(header_tab)-------------*/
.header_tab {
    display: flex;
    justify-content: flex-end;
    -webkit-box-pack: end;
    align-items: center; /*가운데 정렬*/
    width: 1256px;
    float: right;
}


.header_all_tab {
    float: right;
    margin-right: 50px;
    margin-bottom: 50px;
    position: relative;
}

/* header_all_tab 햄버거 메뉴 */
/* .header_all_tab, */
.header_all_tab span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    max-width: 0;
    transition: 0.5s ease;
    z-index: 1;
    overflow: hidden;
    /* background-color: #eee; */
  }
  
  .burger-icon {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    z-index: 2;
    padding: 10px 0;
    /* top: 10px; */
    /* right: 4px; */
    user-select: none;
    width: auto;
    margin: 10px 10px;
  }
  
  .burger-icon .burger-sticks {
    background: #333;
    display: block;
    height: 3px;
    position: relative;
    transition: background .2s ease-out;
    width: 30px;
  }
  
  .burger-icon .burger-sticks::before,
  .burger-icon .burger-sticks::after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

.burger-icon .burger-sticks::before {
    top: 10px;
  }
  
  .burger-icon .burger-sticks::after {
    top: -10px;
  }
  
  .burger-check {
    display: none;
  }
  
  .burger-check:checked~.menu {
    max-width: 280px;
  }
  
  .burger-check:checked~.burger-icon .burger-sticks {
    background: transparent;
  }
  
  .burger-check:checked~.burger-icon .burger-sticks:before {
    transform: rotate(-45deg);
  }
  
  .burger-check:checked~.burger-icon .burger-sticks:after {
    transform: rotate(45deg);
  }
  
  .burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
  .burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
    top: 0;
  }

 .menu ul {
    margin: 8px 15px 0 0;
    padding-left: 10px;
    float:right;
 }
 
 .menu li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    font-weight: 570;
  }

.menu a:hover {
    color: #fc5ea0;
}


/* 네비내용(nav) */
.nav {
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.nav_main {
    max-width: 1256px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_main li {
    display: inline-block;
}

.nav_main a {
    padding: 6px 8px 4px;
    margin: 8px 30px;
    display: inline-block;
    line-height: 35px;
    font-size: 15px;
    font-weight: 600;
    color: #494949;
}

.nav_main a:hover {
    color: #fc5ea0;
    font-weight: bold;
}

.nav_link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fc5ea0; 
    transition: width .3s;;
}

.nav_link:hover::after {
    width: 100%;
    transition: width .3s;
}


/*my page  시작*/
.mypage {
    display: grid;
    justify-content: center;
    margin: 20px 0;
}

.mypage .mypage_userinfo {
    display: inline-block;
    width: 1252px;
    height: 294px;
    border: 2px solid #fc5ea0;
    border-radius: 20px;
    font-size: 20px;
}

.mypage_profile_nick{
    display: inline-block;
    padding: 30px 100px;
    width: 1052px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 35px;
    color: #fc5ea0;
}

.detail_id {
    display: inline-block;
    width: 1052px;
    height: 30px;
    line-height:30px;
    margin: 10px 100px;
}

.detail_id1{
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
}

.detail_id2{
    font-size: 20px;
    padding-left: 10px;
}

.detail_mail{
    display: inline-block;
    width: 1052px;
    height: 30px;
    line-height:30px;
    margin: 10px 100px;
}

.detail_mail1{
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
}

.detail_mail2{
    font-size: 20px;
    padding-left: 10px;
}

.detail_edit{
    display: inline-block;
    width: 1052px;
    height: 30px;
    line-height: 30px;
    margin: 34px 100px;
}

.detail_edit_info{
    font-size: 20px;
    text-decoration: underline;
    padding-right: 10px;
}

.detail_edit_pw {
    font-size:20px;
    text-decoration: underline;
    padding-left: 10px;
}


.wishlist_product{
    width: 1256px;
    margin-right: auto;
    margin-left: auto;
    border-top: solid 1px #fc5ea0;
    padding-top: 20px;
}

.mypage_interest {
    display: flex;
    margin-top: 10px;
    margin: 5px 0 0 0 ;
    flex-wrap: wrap;
}
.interest_product {
    display: flex;
    max-width: 1256px;
    margin: 40px auto 20px 0;
    font-size: 30px;
    font-family: 'bold';
    color: #fc5ea0;
}

/*--------컨텐츠 상품 목록--------*/
.product_wrap {
    margin: 8px 10px 20px 8px;
    width: 294px;
    border-radius: 10px;
    border-left: 0.5px solid #ededed;
    border-top: 0.5px solid #ededed;
    box-shadow: 3px 3px 3px 0px #ededed;
}

.product_details {
    width: 294px;
}

.product_wrap > a {
    height: 360px;
}

.product_Img {
    width: 294px;
    height: 294px;
    border-radius: 10px;
}

.product_info {
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.info_brand {
    width:294px;
    margin: 0 0 5px 0;
    font-size: 15px;
}

.info_name {
    width:294px;
    font-weight: 600;
    color: #494949;
    font-size: 15px;
    margin: 0 0 5px 0;
}

.info_price {
    font-weight: 600;
    font-size: 18px;
    display: flex;
    margin: 0 10px 5px 0;
}

.wishlist_btn {
    background-color: white;
    border: none;
    cursor: pointer;
}


/*footer 시작*/
#footer{
    margin-top: 120px; 
    background-color: #fafafa;
    width:100%;
    /* height:70px; */
}

.footer_wrap {
    max-width: 1256px;
    margin-left: auto;
    margin-right: auto;
}

#footer h2{padding: 20px 0 20px 30px;}
#footer p{padding: 20px 0 60px 30px;}


